@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    jQuery(function ($) {
        $('#update-container').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            $.ajax({
                url: $(this).attr('href'),
                success: function (data) {
                    $('#container').html(data);
                }
            });
        });
    })
</script>

<div id="container"></div>

@Html.ActionLink("Поменять данные", "Update", "Todo", new {val = 5}, new {id = "update-container"})


